<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xuanwu.demo.common.dao.mapper.UserMapper">
	<resultMap id="UserResult" type="com.xuanwu.demo.common.entity.User">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="username" property="username" />
		<result column="password" property="password" />
	</resultMap>
	
	<select id="findResults" resultMap="UserResult">
		select * from demo_user where 1 = 1
		<if test="params.username != null">and username like concat('%',#{params.username},'%')</if>
		<if test="sorts.username != null">order by username ${sorts.username}</if>
		limit #{page.from},#{page.size}
	</select>

	<select id="findResultCount" resultType="int">
		select count(*) from demo_user where 1 = 1
		<if test="params.username != null">and username like concat('%',#{params.username},'%')
		</if>
	</select>
	
	<insert id="add" useGeneratedKeys="true" keyProperty="id">
		insert into demo_user(id,username,password) values(#{id},#{username},#{password})
	</insert>
	
	<update id="update">
		update demo_user set username = #{username} where id = #{id}
	</update>
	
	<select id="findById" resultMap="UserResult" parameterType="int">
		select * from demo_user where id = #{id}
	</select>
	
	<delete id="deleteById" parameterType="int">
		delete from demo_user where id = #{id}
	</delete>
</mapper>